{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} CHANGE GROUP {% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'group_url' %}">
      <span  class="btn btn-info">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"> 
          <span> back</span> 
        </i>
      </span>
    </a> 

  
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="submit-row">

      <input type="submit" class="btn btn-success" value="Save">    

      <a href="{% url 'group_delete_url' object.pk %}"><span class="btn btn-danger">DELETE GROUP</span></a>

    </div>
  </form>

</div>


{% endblock %}