{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- BLOCK of HEAD LINKS -->
  {% block head_link %}
  <!-- Bootstrap CSS -->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static 'css/materialize.css' %}"> {% endcomment %}
  {% endblock   %}

  <!-- BLOCK of TITLE -->
  <title>
    {% block title %}
    Base page
    {% endblock %}
  </title>
  </hed>
  {% block body %}

<body>

  <!-- NAVBAR -->
  {% include "includes/navbar.html" %}
  <!-- END NAVBAR -->

  <!-- CONTENT -->
 <div class="container-fluid">  
    {% include "includes/messages.html" %}

    {% block content %}   
    
    {% endblock  %}
  </div>
  <!-- END CONTENT -->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {% block scripts %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script type="text/javascript" src="{% static  'js/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static  'js/bootstrap.js' %}"></script>
   {% comment %} <script type="text/javascript" src="{% static  'js/materialize.js' %}"></script> {% endcomment %}

  
  {% endblock   %}

</body>
{% endblock  %}

</html>